{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Erreur {{status_code}} : {{status_text}}</h1>
            <p>La méthode utilisée pour accéder à cet URL n'est pas autorisée.</p>
        <a href="{{path("app_main_search")}}">Retour à l'accueil</a>
    </div>

{% endblock %}