{% extends "base.html.twig" %}

{% block body %}

    <div class="text-center container">
        <h1 class="mt-4">Erreur {{status_code}} : {{status_text}}</h1>
        <p class="mt-3">Une erreur est survenue. Vous pouvez revenir à la page précédente ou cliquer sur le bouton ci-dessous pour retourner à l'accueil du back-office.</p>
        <a class="btn btn-warning" href="{{path("app_back_main_index")}}">Retour à l'accueil</a>
    </div>

{% endblock %}